# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment / secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache / test

#dataset
sushi_superClean.csv
.pytest_cache/
.mypy_cache/

# Temporary files
*.tmp
